body{
  background-image: url(photo_2025-12-14_11-41-51.jpg);
  font-family: Arial, sans-serif;
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
}
a {
    text-decoration: none;
}
.business-card{
  width: 500px;
  background-color: grey;
  padding: 20px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  text-align: center;
}
.profile-image{
  max-width: 100%;
}